NODE_ENV=development
PORT=4000
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb+srv://<db_user>:<db_password>@<cluster-host>/?appName=Homelyy
DB_NAME=homelyy
AUTO_SEED=true
JWT_SECRET=homelyy-super-secret-key
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
